*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #7c7676;
}
.nav_links ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
a:hover{
    color: #005CE6;
    cursor: pointer;

}
}
.btn{
    color: white;
    background-color: #005CE6;
    padding: 10px 10px;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
}
.hotpink{
    color: hotpink;
}
.hotpink:hover{
    color: rgb(167, 111, 139);
    cursor: pointer;
 }
 .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
 }
    .pallete{

        /*p{
            font-family: "Caveat", cursive;
            font-size: 20px;
        }*/
    img{ 
        width:70vh;
        border: 10px solid black;
        border-radius: 10px;
        position: relative;
        top: 0px;
        left: 0px;
  
  }
  .child{
    position:absolute;
    top:  25rem;
    left: 40rem;
  }
 }
 .main-text{
   max-width:600px ;
  text-align: center;
  
  
    h1{
        font-size: 70px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 25px;
        
    }
    
 }
 .main-para{
    color: rgb(70,72,83);  
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 25px;
    width:60%;
    text-align: center;
    margin: 0 auto;
 }
 .main-links ul .btn{
    display: inline-block;
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 15px;
 }
 .explore{
    border: 1px solid #D8D8DA;
    border-radius: 10px;
    padding: 10px 30px ;
    display: inline-block;
    margin-bottom:15px ;
 }
 .hunt{
    border: 1px solid #FF6154;
    border-radius: 10px;
    
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    width: 250px;
    margin: 0 auto;
    gap: 20px;
    padding: 5px 8px;
    img{
        width:2rem
    }
    span{
        font-size: 10px;
        color: #FF6154;
      
       
    }
    a{
        color:  #FF6154 ;
       
    }
   
 }
 
 .tools{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 50px;
    img{
        width: 4rem;
    }
    
 }
 .box{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
   left:0; 
   
 }
 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: #F4DEBF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 
   .content:hover{
        opacity:1;
        border-radius: 20px;
        transform: translateY(-1px);

   }
   .content > *{
         transition: transform(0.6s);
   }
      
    
 .sponsors{
    margin-bottom: 50px;
    p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        
    }
 }
 .sponsor-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
    
    
    img{
        width: 3.5rem;
    }
    img:hover{
        width: 6rem;
      
        transition: 150ms;
    }

    
 }
 .disney:hover{
    img{
        width: 6rem;
        transition: 150ms;
    }
   
 }

 
 .windows{
    text-align: center;
    margin-top: 25px;
    img{
        width: 4rem;
    }
    img:hover{
        width: 6rem;
        transition: 150ms;
        
    }
    
 }
.footer {
   
    height: 100vh;
    background-color: #F7F7F8;
    padding: 40px 40px;
    p{
        font-size: 13px;
        padding-top: 50px;
        color: #7c7676;
    }


}
.list {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-size: 18px;
    gap: 30px;
    a:hover{
    color: #005CE6;
    }
    
    
   
    
}
.span1{
    font-size: 10px;
    padding: 2px;
    margin-left: 5px;
    border-radius: 3px;
}
.span2{
    font-weight: bold;
    color: black;

}
.span2:hover{
    color: #005CE6;
}
 
@media only screen  and (max-width:768px){
    .main{
        display: flex;
        flex-direction: column-reverse;
}
.main-text{

     h1{
         font-size: 40px;
         margin-top: 20px;
         
         
     }
     
  }
  .pallete img{
    width: 80%;
    align-items: center;
    margin-left: 45px;
   
  }

  .tools{
    display: flex;
   flex-direction: column;
    
  }

  .sponsor-icon{
   width: 70p;
  }
    
    img{
        width: 3.5rem;
    }
    .list{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .footer{
        height: 100%;
    }
}

