*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.hamburger{
    display: none;
    cursor: pointer;
   
}
.hamburger img{
    max-width: 30px;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #7c7676;
}
.nav_links ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;

}

a:hover{
    color: #005CE6;
    cursor: pointer;

}
.logo img{
        width: 6rem;
    }

.btn{
    color: white;
    background-color: #005CE6;
    padding: 10px 10px;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
}
.hotpink{
    color: hotpink;
}
.hotpink:hover{
    color: rgb(167, 111, 139);
    cursor: pointer;
 }
 .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
 }
    .pallete .parent img{
        width:70vh;
        border: 10px solid black;
        border-radius: 10px;
        position: relative;
        top: 0px;
        left: 0px;
  
  }
   .parent .child img{
        width:30%;
        border: 10px solid black;
        border-radius: 10px;
        position:absolute;
        top:  25rem;
        left: 40rem;
  }
 
 .main-text{
   max-width:600px ;
  text-align: center;
    }
  
   .main-text h1{
        font-size: 70px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 25px;
        
    }
    
 
 .main-para{
    color: rgb(70,72,83);  
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 25px;
    width:60%;
    text-align: center;
    margin: 0 auto;
 }
 .main-links ul .btn{
    display: inline-block;
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 15px;
 }
 .explore{
    border: 1px solid #D8D8DA;
    border-radius: 10px;
    padding: 10px 30px ;
    display: inline-block;
    margin-bottom:15px ;
 }
 .hunt{
    border: 1px solid #FF6154;
    border-radius: 10px;
    
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    width: 250px;
    margin: 0 auto;
    gap: 20px;
    padding: 5px 8px;
}

   .hunt img{
        width:2rem
    }
    .hunt span{
        font-size: 10px;
        color: #FF6154;
      
       
    }
    .hunt a{
        color:  #FF6154 ;
       
    }
   
 
 
 .tools{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 50px;
}
    .tools img{
        width: 4rem;
    }
    
 
 .box1{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
    left:0; 
}
   .box1 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 .content:hover{
    opacity:1;
    border-radius: 20px;
    transform: translateY(-1px);

}
.content > *{
    transition: transform(0.6s);
}
   
 
 
 .box2{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
   left:0; 
 }
  .box2 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 .content:hover{
    opacity:1;
    border-radius: 20px;
    transform: translateY(-1px);

}
.content > *{
    transition: transform(0.6s);
}
   
 

 .box3{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
   left:0;
 }
   .box3 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color:pink;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 .content:hover{
    opacity:1;
    border-radius: 20px;
    transform: translateY(-1px);

}
.content > *{
    transition: transform(0.6s);
}
   
 

 .box4{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
   left:0; 
 }
   .box4 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color:plum;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 .content:hover{
    opacity:1;
    border-radius: 20px;
    transform: translateY(-1px);

}
.content > *{
    transition: transform(0.6s);
}
   
 
 .box5{
    background-color: #f7f7f8 ;
   
    border-radius: 10px;
    height: 250px;
   text-align: center;
   
   padding:30px  30px ;
   margin-bottom: 60px;
   position: relative;
   top: 0;
   left:0; 
 }
   .box5 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color:palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
   
 }
 .content:hover{
    opacity:1;
    border-radius: 20px;
    transform: translateY(-1px);

}
.content > *{
    transition: transform(0.6s);
}
   
  
 .sponsors{
    margin-bottom: 50px;
}
.sponsors p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        
    }
 
 .sponsor-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;
 }
    
    
 .sponsor-icon img{
        width: 3.5rem;
    }
.sponsor-icon img:hover{
        width: 6rem;
      
        transition: 150ms;
    }

    
 
 .disney:hover img{
    
        width: 6rem;
        transition: 150ms;
    }
   
 

 
 .windows{
    text-align: center;
    margin-top: 25px;
 }
 .windows img{
        width: 4rem;
    }
.windows img:hover{
        width: 6rem;
        transition: 150ms;
        
    }
    

.footer {
   
    height: 100vh;
    background-color: #F7F7F8;
    padding: 40px 40px;
}
   .footer p{
        font-size: 13px;
        padding-top: 50px;
        color: #7c7676;
    }

.list {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-size: 18px;
    gap: 30px;
}
   .list a:hover{
    color: #005CE6;
    }

.span1{
    font-size: 10px;
    padding: 2px;
    margin-left: 5px;
    border-radius: 3px;
}
.span2{
    font-weight: bold;
    color: black;

}
.span2:hover{
    color: #005CE6;
}

/* responsivenesss max-width of 768px*/
 
@media only screen  and (max-width:768px){

    .logo{
      width: 25%;
       align-items: center;
       margin: 0 auto;
    }
    img{
        width: 8rem;
       }
       
    .nav_links{
        display: none;
    }
    .hamburger{
        display: block;
    }
   

    .pallete .parent img{
        display: block;
        width: 80%;
        align-items: center;
        margin-left: 45px;
}

    
   
    

    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-text h1{
         font-size: 40px;
         margin-top: 20px;   
         
     }
     
  .tools{
    display: flex;
   flex-direction: column;
    
  }
  .sponsors{
    margin-left: 30px;
  }

  .sponsor-icon{
   display: grid;
   grid-template-columns: repeat(5,1fr);
  }
    
    .list{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .footer{
        height: 100%;
    }

}
